<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ALCameraViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Async.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKShareKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FontBlaster.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>HCSStarRatingView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>InstagramKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>KeychainAccess.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>OAStackView-OAStackView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>OAStackView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>OAuthSwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Parse.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ParseFacebookUtilsV4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ParseTwitterUtils.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ParseUI.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ITunesSwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Moviethete.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SlackTextViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftLocation-SwiftLocation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftLocation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftValidator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftyJSON.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TLYShyNavBar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TPKeyboardAvoiding.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>VK-ios-sdk.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XCDYouTubeKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>023413D68215008575BE1816193EEE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F98F85575B93F19AE698C564B266D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124BA04F2E4A4F5C8CDAA39DB6C7F903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C88A0EB59A832BDC8DDE97F49A6DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2649339071F30A1433BE1BBF6451C44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>338753B79DB5D21D33AF4B57C0F03110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E49192D0E917BB89954FD017AAA1723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>432ECC54282C84882B482CCB4CF227FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4878C70B21CA37D7CB8A476BF986741B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5F18807871768896B9A9E7DF9FE1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511B536F0DE06D9C3BD65397A91990C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ADC05E440A960212657DE6DA1FEDD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A594BE17F39BAEEEA98332041D6C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D69761C2CD2A1E5C013537B29CAB4CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646FDD21B927C301013AFE283F2695E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A4BA5D8F2DDEB3C412041EC69B40E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B9DF4776A5114EA56DC8E036C668D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838A2C6DA366DE138E5FDF1AF19D94C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>905A8D26B7D12291E881F89402681D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADBEA4D6BF9C4F9CE128C39B696CEEDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCA0874AA0EAA00E8A54672C92A17AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E674DD9D88022C39F9427C0E34D5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8470470292BC39EE263E6103508E41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE93970FB68874F2C2C5274B42422D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0ECBF90C3C3A74897154D48DDDB89C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95F9A77C0BD2B9605511893AF14F535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB071C4AECA88FA605518A742EA55087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F464E7B0C1D479F1C95F81C8C59CBBAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5ACF367AE3BD7A7F2AF2D430901DF7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F710EAB41DD6932844C4A82A87A2628F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8CD33355A7C1273C614ED87AACEDD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
